



  styled-table{
    position: relative;
    padding: 4px;
    margin: 12px 8px 0px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(121, 172, 206, 0.7);
    }



    td:nth-child(1) {
    text-align: left;
    max-width: 50px;
    }



    th,
    td {
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    padding: 4px;
    max-width: 8px;
    }



    table {
    position: absolute;
    width: 100%;
    border-collapse: separate;
    border-spacing: 8px;
    }



    th {
    background-color: rgba(121, 172, 206, 0.7);

    }



    td {
    background-color: rgba(225, 234, 235, 0.7);
    }



    tr:hover {
    font-weight: bold;
    cursor: pointer;
    }

